*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    position: relative;
}
nav{
    position: fixed;
    width: 100%;
border: .1rem ridge red;
display: flex;
justify-content: space-between;
align-items: center;
}
video{
    position:absolute;
    z-index:-1;
    top: 0;
}